/* Importa a fonte Montserrat */
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #e0e0e0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: auto;
}

.container {
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    width: 300px;
    border-radius: 50px;
    background: #e0e0e0;
    box-shadow: 20px 20px 54px #9f9f9f,
        -20px -20px 54px #ffffff;
}

h1 {
    font-size: 1.5em;
    font-weight: 600;
    color: #333;
    margin-bottom: 15px;
}

.relay-toggle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
    padding: 10px;
    background: #e0e0e0;
    border-radius: 12px;
    box-shadow: inset 4px 4px 8px #b9c1d0, inset -4px -4px 8px #ffffff;
    height: 30px;
}

.relay-toggle label {
    font-weight: 600;
    color: #333;
    display: flex;
}

.col {
  flex: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.switch-container {
    position: relative;
    display: inline-block;
}

/* Switch container */
.switch {
    width: 51px;
    height: 31px;
    position: relative;
    display: inline-block;
    background-color: #e9e9eb;
    border-radius: 16px;
    cursor: pointer;
    transition: all 0.2s ease-out;
box-shadow: rgba(0, 0, 0, 0.5) 1px 2px 5px 0px inset;
}

/* Ocultar checkbox padrão */
.checkbox {
    opacity: 0;
    width: 0;
    height: 0;
    position: absolute;
    z-index: -1;
}

/* Slider */
.slider {
    width: 27px;
    height: 27px;
    position: absolute;
    left: calc(50% - 27px / 2 - 10px);
    top: calc(50% - 27px / 2);
    border-radius: 50%;
    background: #FFFFFF;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.15), 0px 3px 1px rgba(0, 0, 0, 0.06);
    transition: all 0.2s ease-out;
    cursor: pointer;
}

.checkbox:checked+.switch {
    background-color: #348cc7;
}

.checkbox:checked+.switch .slider {
    left: calc(50% - 27px / 2 + 10px);
    top: calc(50% - 27px / 2);
}